<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProyectoIOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A1276E5620B803C9007F13A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1276E6A20B803C9007F13A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1276E7520B803C9007F13A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
